*:focus {
    outline: none;
}

body {
    margin: 0;
}

._container {
    margin: 0 20px;
}

h_wrap {
    height: 36rem;
}

wrapper {
    background: #887bff;
}

.side-menu {
    width: 250px;
    float: left;
    background: #887bff;
}

.bg_form {
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10em;
}

.side-menu .menu {
    margin-top: 1em;
}
